:root{
  --smaller: .75;
  --bg-header-default: #FFFFFF;
  --color-serenety-primary: #79A6CA;
  --color-serenety-secondary: #2083A3;
}

.main-header {
  min-height: 5vh;
  min-width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin) !important;
  color: var(--bg-header-default);
  font-family: 'Sacramento', cursive;
}

.bg-header-color {
  color: var(--bg-header-default);
}

.menu-items {
  font-family: 'Public Sans', sans-serif;
}

#countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown span {
  display: block;
  font-size: 4.5rem;
}

.bg-white.transparent-opacity {
  --bs-bg-opacity: 0.5;
}

.transparent-opacity {
  --bs-bg-opacity: 0.5 !important;
}

.active-menu {
  color: #4a9adc !important;
}

.active-menu:hover {
  color: #4a9adc !important;
}

.active-menu:focus {
  border-style: dot-dot-dash;
}

.font-lato {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  color: #ffffff;
}

nav a:link, nav a:visited, nav a:active {
  font-weight: bold;
}

nav a:hover {
  border-style: dot-dot-dash;
  /*border-color: red !important;*/
  /*color: red;*/
}

.rules-section {
  display: grid;
  text-align: start;
  grid-template-columns: 1fr;
  align-items: start;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    /*height: 10%;*/
    /*width: 10%;*/
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.responsive-img {
  width: 100%;
  height: 100%;
}

#contagem-regressiga {
    display: grid;
    grid-template-columns: 1fr;
}

.form-confirmar-presenca {
  width: 100%;
  max-width: 350px;
}

.main-location-info img {
  height: 350px;
  width: 450px;
}

.main-location-info iframe {
  height: 350px;
  width: 450px;
}

.collage-main-page {
  max-height: 470px;
}

@media all and (min-width: 1200px) {
  .fit-invitation {
    max-width: 60% !important;
    max-height: 60% !important;
  }
}

@media all and (max-width: 768px) {
  .main-location-info iframe {
    height: 200px;
    width: 250px;
  }
  .main-location-info img {
    height: 200px;
    width: 250px;
  }
  .collage-main-page {
    max-width: 100%;
  }
  #countdown h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  #countdown li {
    font-size: calc(0.725rem * var(--smaller));
  }

  #countdown li span {
    font-size: calc(3.155rem * var(--smaller));
  }
}

.bg-serenity {
  /*background-image: linear-gradient(180deg, #B3CEE5, #79a6ca);*/
  /*opacity: 90%;*/
  background-color: var(--color-serenety-primary);
}

.main-title {
  color: var(--color-serenety-primary);
  font-family: 'Roboto Condensed', Roboto, sans-serif;
}
